body {
    background: linear-gradient(to right,skyblue,skyblue,skyblue,skyblue,skyblue,skyblue,skyblue);
}

/* Heading styles /
h1 { 
    color: rgba(119, 188, 217, 0.647); 
    font-size: 100px; 
}

/ Paragraph styles /
p {
    font-size: 16px; / Fixed font size /
}

/ Image styles /
img {
    width: 600px;
}

/ Highlighted text */
.highlight {
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}
h1 {
    text-align: center;
}

img {
    border: 3px solid black;
    border-radius: 10px;
}
img:hover{opacity: 0.7;}
